nav {
  height: 10vh;
  padding: 5px 40px;

  img {
    width: 110px;
    height: 50px;
    object-fit: cover;
    margin-top: 20px;
    margin-left: -2px;
  }

  ul {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    font-size: 18px;
    padding-left: 140px;
    margin-top: -32px;
    
    

    @media (max-width: 600px) {
      display: flex;
      justify-content: space-around;
      align-items: center;
      


    }

    a {
      color: white;
      transition: all 0.3s;

      &:hover {
        color: red;
      }
    }
  }
}
